.scroll-table{
    overflow: auto;
    height: 600px;
}
body {
  margin: 0;
  padding: 0;
  padding-top:65px;

}
.padHelp{
    padding-left: 0px !important;
    margin-left: 15px !important;

}
.headerEntry{
     border-bottom:2px solid #FFFFFF;
    background-color: black;
    border-radius: 0px;
    font-family: sans-serif;

}

.headerIcon{
    color:white;


}
.headerLink{

    color: #AAAAAA;
    font-size: 15px;
}

.headerLink:hover{
    color: white !important;
}

.headerLink.active{
    color:white;
}



