body {
  margin: 0;
  font-family: sans-serif;
  background-color: black;

}


button:focus{
  outline:0;
}

input:focus{
  outline-color:orange;
}

textarea:focus{
  outline-color:orange;
}
.titleHeader{
  color:white;
  font-size: 40px;
  text-align:center;
  border-width: 0px 0px 2px 0px;
  border-color: white;
  border-style: dotted;
  line-height: 2em;
}
.keyEntry{
  overflow:hidden;
  margin: 10px 15px 5px 5px;
  justify-content: space-between;
  display:flex;
  font-family: 'Courier New', Courier, monospace;
  padding:5px;
  color: #CDCDCD;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  background-color: black;
  transition: all 0.7s ease-in;
}


/* Animation */

@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

.jwtContent {
  overflow-wrap:break-word;
  width:90%;
  flex:1;
  display:inline-block;
}

.buttonContent {
  width:35px;
}
.borderDiv{
  margin-top:15px; 
  border-top:2px dotted white;
}
.newEntryButton{
  margin-left:5px;
  line-height:14px;
  width:35px;
  height:35px;
  font-size:20px;
  color:white;
  text-align:center;
  vertical-align: middle;
  background-color:black;

  border-style:1px solid white;
  transition:all .2s ease-in;
}

.reloadButton{
  padding-bottom:4px;
}
.editingButton{

  float:right;
  width:25px;
  height:25px;
  font-size:14px;
  color:white;
  text-align:center;
  vertical-align: middle;
  padding:0;

  background-color:black;
  border-style:solid;
  border-width: 1px 1px 1px 1px;
  border-color:white;
  transition:all .2s ease-in;
  
}

.addButton{

}

.editingButton:hover{
  border-color:white;
  background-color:white;
  color:black;
}

.newEntryButton:hover{
  background-color:white;
  color:black;
}
.deleteButton{
}

.downloadButton{
  display:block;
}

.editInput{
  background-color:black;
  font-family: 'Courier New', Courier, monospace;
  color:white;
  border:1px solid white;
  width:90%;
  padding:4px;
}

.editInput::selection{
  background:white;
}
.kidBox{
  padding-top:3.5px;
  padding-bottom:3.5px;
}


.editing{
  color: #595959;
  border-color: #595959;
  transition: all 0.7s ease-in;
}

.editModeButton{
  width:25px;
  height:25px;
  font-size:14px;
  color:white;
  text-align:center;
  vertical-align: middle;
  padding:0;
  margin:5px;
  background-color:black;
  border-style:solid;
  border-width: 1px 1px 1px 1px;
  border-color:white;
}

.modalError{
  position:absolute;
  border:2px solid white;
  opacity:1;
  width:50%;
  height:100px;
  text-align:center;
  font-size:15px;
  line-height:85px;
  vertical-align:middle;
  color:#d9534f;
  margin-left:20%;
  background-color:black;
}
.checkBox{
  border-width: 4px;
  background-color: #121212;
  transition:all 0.1s ease-in;
}

.clickButton{
  height:26px;
  font-size:13px;
  color:white;
  text-align:center;
  font-family: 'Courier New', Courier, monospace;
  float:right;
  vertical-align: middle;
  padding:5px;
  margin-right:10%;
  margin-top:5px;
  margin-bottom:5px;
  line-height:10px;
  background-color:black;
  border-style:solid;
  border-width: 2px;
  transition:all 0.2s ease-in;

  border-color:white;
}

.clickButton:hover{
  background-color: #343434;
}

.checkBoxPressed{
  background-color: #a5a5a5;
}

.jwtTextArea{
  height:200px;
}