# avoid a hibernate error message, fix from https://github.com/pgjdbc/pgjdbc/issues/1102
spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation: true

spring:
  thymeleaf:
    cache: false
  datasource:
    url: jdbc:h2:mem:myDb;DB_CLOSE_DELAY=-1
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate.dialect: org.hibernate.dialect.H2Dialect
      hibernate.hbm2ddl.auto: create-drop
  profiles:
    active: localDb
#    active: cdsConnect

server:
  port: 8090
  servlet:
    # contextPath should start with "/" but not end with one. This is good: "/cds-hooks"
    contextPath: /

checkJwt: false

checkPractitionerLocation: false

# The smart app launchUrl. It can be relative, which will be turned into an absolute link against the url the server is running at.
# If you want it to be absolute, it MUST start with "http://" or "https://"
# To use the embedded DTR smart app, use "/smart/launch.html"
#launchUrl: /smart/launch.html
launchUrl: http://localhost:3005/launch

# When the filepath is included in the appContext, the DTR smart app will use the "getfile" endpoint to retrieve the
# files that it needs. This must be turned on for retrieval of resources from CDS Connect for DTR.
includeFilepathInAppContext: true

appendParamsToSmartLaunchUrl: false


cdsConnect:
  url: https://cdsconnect.ahrqstg.org
  username: admin
  password: admin
  #basic-auth: user:pass
  #proxy-host: proxy.com
  #proxy-port: 80

localDbRules: src/main/jib/rules/
localDbFhirArtifacts: src/main/jib/smartAppFhirArtifacts/

hostOrg: default
