<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="main.css">

    <title>CRD Admin Panel</title>
</head>
<body>
<div th:replace="header :: nav-bar(dataface='active')"></div>
<div class="container-fluid">
<h1 th:text="${foo}"></h1>

<div th:replace="rules-table :: table(headers = ${headers})"></div>

<div>
    <form action="#" th:action="@{/data}" th:object="${datum}" method="post">
        <table border="1">
            <!--<tr>-->
                <!--<td>id</td>-->
                <!--<td><input type="number" th:field="*{id}" /></td>-->
            <!--</tr>-->
            <th:block th:each="header : ${headers}">
                <tr>
                    <td th:text="${header}"></td>
                    <td><input type="text" th:field="*{__${header}__}" /></td>
                </tr>
            </th:block>
            <!---->
            <!--<tr>-->
                <!--<td>Age_High</td>-->
                <!--<td><input type="number" th:field="*{patient_age_range_high}" /></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>Gender</td>-->
                <!--<td><input type="text" th:field="*{patient_gender}" /></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>Plan_ID</td>-->
                <!--<td><input type="text" th:field="*{patient_plan_id}" /></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>CPT_CODE</td>-->
                <!--<td><input type="text" th:field="*{equipment_code}" /></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>AUTH</td>-->
                <!--<td><input type="text" th:field="*{no_auth_needed}" /></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>INFO</td>-->
                <!--<td><input type="text" th:field="*{info_link}" /></td>-->
            <!--</tr>-->
            <tr>
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>
    </form>
</div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
</body>
</html>