<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
    <nav th:fragment="nav-bar" class="navbar navbar-fixed-top headerEntry">
        <div class="container padHelp">
            <span class = "navbar-brand headerIcon"> <span class="glyphicon glyphicon-fire"></span></span>
            <a class="navbar-brand headerLink" th:classappend="${home}" href="/">Home</a>

            <a class="navbar-brand headerLink" th:classappend="${pubkey}" href="/public">Keys</a>
            <!--<a class="navbar-brand headerLink" th:classappend="${reqgen}" href="/reqgen">Generator</a>-->
            <a class="navbar-brand headerLink" th:classappend="${dataface}" href="/data">Rules</a>
            <a class="navbar-brand headerLink" th:classappend="${requests}" href="/requests">Log</a>
        </div>

    </nav>
</body>
</html>