<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="table">
    <table class="table-responsive table-striped table">
        <thead>
        <tr>
            <td>ID</td>
            <td>Rule Applies at Age</td>
            <td>Rule Ends at Age</td>
            <td>Gender</td>
            <td>Relevant Code (CPT / HCPCS)</td>
            <td>Code System URL</td>
            <td>Patient Address</td>
            <td>Practitioner Address</td>
            <td>Documentation Required</td>
            <td>Coverage Documentation Requirement Information Link</td>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="rule : ${rules}">
            <!--<tr>-->
                <!--<th:block th:each="header : ${headers}">-->
                    <!--<td th:text="${rule.__${header}__}"></td>-->
                <!--</th:block>-->
            <!--</tr>-->

            <tr>
                <td th:text="${rule.id}"></td>
                <td th:text="${rule.ageRangeLow}"></td>
                <td th:text="${rule.ageRangeHigh}"></td>
                <td th:text="${rule.genderCode}"></td>
                <td th:text="${rule.equipmentCode}"></td>
                <td th:text="${rule.codeSystem}"></td>
                <td th:text="${rule.patientAddressState}"></td>
                <td th:text="${rule.providerAddressState}"></td>
                <td th:text="! ${rule.noAuthNeeded}"></td>
                <td th:text="${rule.infoLink}"></td>
            </tr>
        </th:block>
        </tbody>

    </table>

</div>
</body>
</html>