.detailWindow{
    border-style: solid;
    margin: 5px 0px 0px 25px;
    border-width: 0 0 1px 5px;
    border-style: none none solid solid;
    transition: all 2s ease-in;

    padding-bottom:20px;
    display:flex;
    border-bottom-color:rgba(255, 255, 255, 0.09) !important;
}

.detailWindow.slideInStart{
    overflow: hidden;
    height:0;
    border:0px none;
}

.detailWindow.slideInEnd{
    height:200px;
}
.detailWindow.success{
    border-left-color:#058412;

}

.healthInfoBox{
    max-width: 300px;
    padding-left: 5px;
    margin-left: 15px;
}

.healthInfoHeader{
    color: white;
    border-style: solid;
    padding-left: 5px;
    border-width: 0 0 1px 3px;
    border-bottom-color:rgba(255, 255, 255, 0.09);
}

.infoEntry{
    color: white;
    border-left-color: #aaaaaa;
    border-style: solid;
    padding-left: 5px;
    margin: 5px 0 0 20px;
    border-width: 0px 0 1px 2px;
    border-bottom-color:rgba(255, 255, 255, 0.19);
}

.infoTitle{
    color: #aaaaaa;
    text-transform: capitalize;
}

.responseCheckBox{
    color:white;
    margin: 10px 0 0 20px;
    width: 30%;

}

.errorDetail.success{
    border-left: 3px solid #28a745;
    color: #aaaaaa;
}
.errorDetail.failure{
    border-left: 3px solid #dc3545;
}
.errorDetail{
    margin-top: 5px;
    border-bottom: 1px solid;
    border-bottom-color:rgba(255, 255, 255, 0.09);
    padding-left: 5px;
    transition:all 0.1s ease-out;
    cursor: pointer;

}

.errorDetail.failure:hover{
    margin-left: 10px;
}

.errorDetailBox{
    margin-left: 30px;
    margin-top: 10px;
}

.col1{
    width:30%;
}
.singleRow{
    display:flex;
    width: 300px;

}
.timelineEvent{
    color:white;
    width: 90px;
    height:18px;

    
    
}
.node{
    font-size:24px;
    margin-left: 20px;
    z-index: -1;
}
.circle{
    border: 3px solid white;
    font-weight: bold;
    width:14px;
    margin-top: 0px;
    height:14px;
    border-radius: 50%;

}

.edge{
    height: 20px;
    margin-left:19.4px;
    /* line height is basically distance from top -1, and margin 
    is bottom; you will forget how you did this but its easy just 
    subtract from height */
    line-height:18px;
    margin-bottom: 1px;
    z-index:-2;
    
    text-align:center;
}

.circle.success{
    border-color: #28a745;
    border-width: 3px;


}

.circle.failure{
    border-color:#dc3545;

}


.circle.failure:hover{
    background-color: #dc3545;
}

.emptyEdge{
    margin-top: 2px;
    border-left: 1px dotted #333333;

}
.labelFormat{
    border-style: solid;
    padding-left: 5px;
    border-width: 0 0 0px 1px;
    border-style: none none solid solid;
    border-color: #aaaaaa;
    color: #aaaaaa;

}

.processTime{

    color:#aaaaaa;
    margin-top: 10px;
}

.topDivet{
    height:8px;
    width:1px;
    display:block;
    border-radius: 35%;
    position:relative;
    left: 2px;
    bottom:9px;
    border: 2px solid white;
}

.circle.success .topDivet{
    border-color: #28a745;
}

.circle.failure .topDivet{
    border-color: #dc3545;
}
.circle.success .bottomDivet{
    border-color: #28a745;
}

.circle.failure .bottomDivet{
    border-color: #dc3545;
}

.bottomDivet{
    height:8px;
    width:1px;
    display:block;
    border-radius: 35%;
    position:relative;
    left: 2px;
    top:2px;
    border: 2px solid white;
}

.invis{
    visibility: hidden;
}

.jsonData{
    line-height:16px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;

    border-left: 2px solid rgba(255, 255, 255, 0.10);
    border-top:0px;
    padding-left:6px;

    display:block;
}
.requestBody{
    overflow-wrap:break-word;
    margin-left: 35px;
    border-left: 5px solid;
    margin-top:5px;
    padding-bottom: 15px;
    border-bottom: 1px solid;
}

.elementBody{
    color:#888888;
}
.elementKey{
    color:#ededed
}

.filled{
    color:white;
    border-left: 2px solid orange;
}
.empty:hover{
    color: #dddddd;
    border-left: 2px solid rgba(255, 166, 0, 0.8);
}


.empty{
    border-left: 2px solid rgba(255, 166, 0, 0.5);
}

.faded{
    color:#aaaaaa;
}

.responseResults{
    margin-left: 15px;
    
}

.ruleInfoHeader{
    color: white;
    border-style: solid;
    border-color: #999999;
    padding-left: 5px;
    border-width: 1px 0 1px 3px;
    padding-top: 0px;
    margin-top: 15px;
}