.requestEntry{
    border-width: 0 0 1px 5px;
    border-style: none none solid solid;
    border-bottom-color:rgba(255, 255, 255, 0.09) !important;
    height:40px;
    
    margin: 5px 10px 0 10px;
    color: #aaaaaa;
    padding-left: 5px;
    line-height: 35px;
    cursor:pointer;
}

.requestHeader{
    border-width: 0 0 1px 5px;
    border-color:white;
    height:40px;
    color:white;
    line-height:35px;
    padding-left:5px;

    margin: 65px 10px 0 10px;

    border-style: solid;
    background-color:black;
}

.requestEntry:hover{
    color:white;
}

.successRequest.active{
    color:white;
}
.failureRequest.active{
    color: red;
}
.successRequest:hover{
    border-color:#5BDA78;
}
.failureRequest:hover{
    border-color:#fe6878;
    color:#fe6878;
}

.failureRequest{
    border-color:#dc3545;
    color: #dc3545;
}
.successRequest{
    border-color:#28a745;

}
.break{
    margin-top:45px;
}

.fixed{
    position:fixed;
    top:0;
   
    width:calc(100% - 30px);
    
}
.element{
    font-size: 12px;
    display: inline-block;
}
.timestamp{
    width:30%;
    vertical-align:middle;
}

.fhirversion{
    width: 15%;
}

.hooktype{
    width: 25%;
}

.successElement{
    width:15%;
}

.requestEntries{
}
.orderButton.active{
    background-color:white;
    color:black;
    font-weight: bold;
}
.orderButton{
    border:1px white solid;
    background-color:black;
    color:white;
    margin-left: 5px;
}
.orderButton:hover{
    background-color:white;
    color:black;
}

.pageNumber{
    text-align:center;
    width: calc(100%-30px);
    margin-top: 20px;
    margin-bottom:20px;
}

.pageTab{
    position:fixed;
    top:0;
    right:0;
    width:20px;
    height:20px;
    font-size: 12px;
    text-align:center;
    line-height: 20px;
    margin-top: 7.5px;
    margin-right:30px;
    background-color:white;
    color:black;
    font-weight: bold;
    border:1px solid white;
}

