.consoleMain{
    border-width:1px 5px 3px 5px;
    border-style: solid solid solid solid;
    border-color: black;
    background-color: #333333;
    color:white;
    overflow-y:scroll;
    overflow-x: wrap;
    word-break:break-all;
    font-family: 'Courier New', Courier, monospace;
    transition-property: all;
    transition-duration: .2s;
    transition-delay: .25s;
}
.resize{
    resize: vertical;
    transition-duration:0s;
    transition-delay:0s;
}
.showConsole{
    height:200px;


}
.hideConsole{
    resize:none;
    height:0px !important;
    border-width: 0px;
    transition-property: all;
    transition-duration: .2s;
    transition-delay: 0s;
}

.consoleHeader{
    border: 3px solid black;
    background-color: black;
    color: white;

    font-family: 'Courier New', Courier, monospace;
    display:block;
    font-size: 18px;
    text-align: center;
    transition-property: all;
    transition-duration: .2s;
    transition-delay: 0s;
}

.showHeader:hover{
    color:#CCCCCC;
}

.showHeader{
    width:100%;
}
.showHeader::after{
    content:"-";
}
.collapseHeader::after{
    content:"+";
}

.collapseHeader{
    width:25px;
    color: black;
    text-align:center;
    border-width: 1px 1px 1px 1px;
    background-color: white;
    transition-property: all;
    transition-duration: .2s;
    transition-delay: .25s;
}

.showHeader:hover ~ .resize{
    transition-delay:.25s;
    transition-duration:.4s;
}

.errorClass{
    color:#dc3545;
}

.warningClass{
    color: #ffc107;
}

.infoClass{
    color: #17a2b8;
}